/*
    Fichier: style.css
*/

/* Couleurs */
.red {
    color: #FF3F00;
}

.orange {
    color: #FF7F11;
}

.white {
    color: #FFFFFC;
}

body {
    margin: 0px;
}

h2 {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


#callToAction {
    background-image: url(../img/cta-bg.png);
    min-height: 350px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 0px;
    margin-right: 0px;
    background-repeat: no-repeat;
    background-size: cover;

    img {
        max-width: 300px;
        max-height: 300px;
        width: 50%;
    }
}


/* footer */
footer {
    background-color: #FF7F11;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 0px;
    margin-right: 0px;

    ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        margin-top: 20px;
        width: 100%;

        li>img {
            width: 43px;
            height: 43px;
        }
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 95px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #FF7F11;
}

h1 {
    position: absolute; /*je ne vois pas d'autre face de le centrer indépendamment*/
    text-align: center;
    font-family: 'Love Ya Like A Sister', serif;
    color: #FFFFFF;
    font-size: 64px;
    text-shadow: 1px 1px 2px black;
    margin: 0;
    font-weight: normal;
}

.boutonTrouverRestau {
    margin-right: 1em;
    margin-left: auto;
    border-radius: 20px;
    color: white;
    border: 6px solid;
    text-decoration: none;
}

.texteTrouverRestau{
    font-family: 'ADLaM Display', serif;
    font-weight: normal;
    font-size: 1rem;
    color: white;
    padding: 0 8px;
}

.logo{
    margin-left: 1em;
    margin-right: auto;
    height: 90%;
}